body {
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  background-color: #303e4e;
  color: white;
  max-width: 800px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0 auto;
  line-height: 2;
}
h2,
p {
  margin: 0;
}
a {
  color: #70f5cc;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  transition: text-decoration-color 0.3s;
}
a:hover {
  text-decoration-color: #70f5cc;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
@media (width <= 1163px) {
  body {
    padding-top: 20px;
    padding-bottom: 48px;
  }
}

@media (width <= 962px) {
  body {
    padding: 20px 28px 48px 28px;
  }
}
@media (width <= 410px) {
  body {
    padding: 10px 14px 48px 14px;
  }
}
